.tips {
    &__inner {
        @include locker;
        row-gap: 64px;
    }

    &__list {
        @include alignment;

        @include desktop {
            justify-content: center;
        }

        @include mobile {
            align-items: start;
        }

        gap: 64px 32px;
    }

    &__item {
        @include alignment;
        @include mobile {
            @include locker;
            max-width: 290px;
            align-items: center;
        }

        align-items: start;
        gap: 16px 32px;

        &>img {
            max-width: 320px;

            @include mobile {
                max-width: 100%;
            }
        }
    }

    &__info {
        @include locker;
        @include mobile {
            min-height: auto;
            row-gap: 25px;
        }

        align-items: start;
        max-width: 320px;
        min-height: 380px;
    }

    &__text {
        @include locker;
        align-items: start;
        row-gap: 16px;
    }

    &__name {
        font-weight: 600;
        font-size: 20px;
        color: $black;
    }

    &__description {
        max-width: 320px;
        line-height: 200%;
        color: $gray-normal;
    }

    &__addition {
        @include alignment;

        justify-content: start;
        column-gap: 24px;

        & * {
            font-size: 12px;
            color: $gray-easy;
        }
    }

    &__data,
    &__author,
    &__reviews {
        @include alignment;
        column-gap: 4px;
    }
}