$black: #161414;
$gray-normal: #5b5b5b;
$gray-easy: #878787;
$gray-middle: #979797;
$white: #fff;
$milk: #f9f9f9;
$accent: #5243c2;
$transparent: #f6f4ff;

$extensive: 120px;
$rounded: 12px;
$thin: 14px;
$average: 16px;
$bold: 18px;